h2 {
	vertical-align: center;
	text-align: center;
}

html, body {
	margin: 0;
	height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	font-family: "Syne";
}

header {
	top: 0;
	position: fixed;
	width: 100vw;
	height: 13vh;
}

.top-nav {
	background-color: #FFFCF3;
	border-bottom: 2px solid #000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 7.5vh;
	padding: 1em;
	position: relative;
}

.menu > li {
	margin: 0 1rem;
	overflow: hidden;
}

.menu-button-container {
	display: flex;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	position: absolute;
	min-height: 0;
	min-width: 30px;
	height: 0.2vh;
	width: 1.50vw;
	background-color: #000000;
	transition: transform 2000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
	content: '';
	margin-top: -10px;
}

.menu-button::after {
	content: '';
	margin-top: 10px;
}

@media (min-width: 2000px) {
	.menu-button::before {
		content: '';
		margin-top: -20px;
	}
	
	.menu-button::after {
		content: '';
		margin-top: 20px;
	}

	.menu-button,
	.menu-button::before,
	.menu-button::after {
		min-width: 60px;
	}

	.menu-button-container {
		width: 60px;
	}
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.menu {
	position: absolute;
	bottom: -92.5vh;
	height: 92.5vh;
	left: 0;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFCF3;
}

#menu-toggle ~ .menu {
	bottom: -200vh;
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: height 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: bottom 2s cubic-bezier(0.23, 1, 0.32, 1);
	border-top: 2px solid #000;
}

#menu-toggle:checked ~ .menu {
	height: 93vh;
	width: 100vw;
	bottom: -93vh;
	transition: height 2s cubic-bezier(0.23, 1, 0.32, 1);
	transition: bottom 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu {
	main {	
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;



		span {
			user-select: none;
			background: none;
			border: 0;
			box-sizing: border-box;
		
			font-size: inherit;
			font-weight: 700;
		
			position: relative;
		
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}

		.draw {
			&::before,
			&::after {
				width: 0;
				height: 0;
			}
			
			&::before {
				z-index: 10;
				border-left: 0.06em solid black;
				border-bottom: 0.06em solid black;
				background-color: transparent;
				bottom: -80px;
				left: -90px;
				height: 50%;
				width: 8%;
				opacity: 1;
				transition: opacity 0.20s ease-in-out;
			}

			&::after {
				border-bottom: 0.06em solid transparent;
				z-index: 19;
				top: 140%;
				bottom: 0px;
				right: -30px;
				opacity: 0;
				transition: opacity 0.20s ease-in-out;
			}
			
			&:hover {
				color: black;
			}

			&:hover::after {
				height: 0%;
				right: -220px;
			}
			
			&:hover::before {
				opacity: 0;
			}
		
			&:hover::after {
				border-bottom-color: black;
				border-left-color: black;
				animation: widthAnimation 0.1s ease-out 0.4s;
				animation-fill-mode: forwards; 
				opacity: 1;
			}
		
			@keyframes widthAnimation {
				0% {
					width: 100%;
				}
				100% {
					width: 40%;
				}
			}
		}

		.about {
			&::before {
				bottom: -45%;
				left: -5%;
			}

			//&::after {}

			&:hover::after {
				width: 118%;
				right: -13%;
			}
		}

		.skills {
			&::before {
				bottom: -45%;
				left: -15%;
			}

			&::after {
				bottom: 0px;
			}

			&:hover::after {
				width: 142%;
				right: -27%;
			}
		}

		.portfolio {
			&::before {
				bottom: -45%;
				left: -13%;
			}

			&::after {
				bottom: 0px;
			}

			&:hover::after {
				width: 140%;
				right: -27%;
			}
		}

	}
}

.shortcuts-item {
	color: #000000;
	font-size: 10vh;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -2.4px;
	@media (max-width: 900px) {
		font-size: 6vh;
		@media (max-height: 1000px) {
			font-size: 8vh;
		}
	}
}

.shortcuts {
	div {
		@media (max-width: 900px) {
			padding-top: 15%;
			@media (max-height: 1000px) {
				padding-top: unset;
			}
		}	
	}
}


.hello-box {
	clip-path: polygon(0 0%, 100% 50%, 100% 100%, 48% 100%, 0 100%);
	height: 25vh;
	width: 100vw;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-between;
	align-items: flex-end;
	@media (max-width: 900px) {
		flex-direction: column;
		height: 35vh;
		clip-path: polygon(0 0%, 100% 20%, 100% 100%, 48% 100%, 0 100%);
		display: flex; 
		justify-content: space-evenly;
		align-items: flex-start;
	}

	div {
		display: flex; 
		align-content: flex-start; 
		justify-content: space-between;
		padding-bottom: 40px;

		@media (max-width: 900px) {
			display: unset; 
			align-content: unset; 
			justify-content: unset;
			padding: 0;
		}
	}

	.Divleft {
		@media (max-width: 900px) {
			padding: 0;
			padding-left: 1.5625rem !important;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			a {
				font-size: 1rem;
			}
		}
	}

	.Divright {
		width: 20%;
		padding-right: 100px;
		padding-bottom: 40px;
		
		@media (max-width: 900px) {
			padding-right: 0 !important;
			padding-right: 1.5625rem !important;
			align-self: flex-end;
        	width: 60vw;
		}
	}

	h3 {
		color: var(--cream, #FFFCF3);
		font-family: Syne;
		font-size: 6vw;
		font-style: normal;
		font-weight: 800;
		line-height: 100%; /* 78px */
		letter-spacing: 0.78px;
		margin: 0;
		display: contents;


		@media (max-height: 500px) {
			font-size: 10vw;
		}

		@media (max-width: 900px) {

			font-size: 12vw;
			animation-name: color-header;
			animation-duration: 3s;
			animation-iteration-count: infinite;

			@keyframes color-blink-white {
				0% {
					color: #5988FF;
				}
				50% {
					color: #82a6ff;
				}
				100% {
					color: #ffffff;
				}
			}
		}
	}:hover {
		color: #5988FF;
		transition: color 400ms;
	}

	a {
		color: var(--cream, #FFFCF3);
		font-family: Overpass;
		font-size: 1rem;
		text-align: left;
		font-weight: 300;
		letter-spacing: -0.575px;
		line-height: normal;
		margin: 0;

		@media (max-width: 900px) {
			font-size: 1vh;
		}
	}
	a:link {
		text-decoration: none;
		cursor: pointer;
	}

	a:hover {
		color: white;
	}
}

.hello-box {
	div:first-child {
		padding-left: 100px;
		flex-direction: column;

		@media (max-width: 900px) {
			padding-left: unset;
		}
	}
}

.hello-box {
	div:last-child {
		height: 40px;
		align-items: center;
		gap: 5vw;
		flex-shrink: 0;
		padding-right: 100px;

		@media (max-width: 900px) {
			padding-bottom: 0px;
		}
	}
}

