<header>
	<main>
		<section class="top-nav">
			<div>
				<img src="../../assets/logo.svg" alt="">
			</div>
			<input id="menu-toggle" type="checkbox">
			<label class='menu-button-container' for="menu-toggle" id="label" (click)="toggelScroll()">
				<div class='menu-button'></div>
		  	</label>
		  	<section class="menu shortcuts d-none" id="header-sec">
				<div>
					<main class="shortcuts-item center" style="color: black;"><span class="draw about" (click)="toggelScroll(); scrollToAboutMe();">About me</span></main>
					<main class="shortcuts-item center" style="color: black;"><span class="draw skills">My skills</span></main>
					<main class="shortcuts-item center" style="color: black;"><span class="draw portfolio">Portfolio</span></main>
				</div>
				<main class="shortcuts-item hello-box">
					<div class="Divleft">
						<h3>Say Hi!</h3>
						<a href="mailto:me@maximilian-stark.dev">me@maximilian-stark.dev</a>
					</div>
					<div class="Divright">
						<a href="https://github.com/majorSoldier603"><img src="../../assets/github.svg" alt=""></a>
						<a href="mailto:me@maximilian-stark.dev" ><img src="../../assets/mail.svg" alt=""></a>
						<a href="http://"><img src="../../assets/link.svg" alt=""></a>
					</div>
				</main>
			</section>
		</section>
	</main>
</header>
