<header>
	<main>
		<section class="top-nav">
			<div>
				<img src="../../assets/logo.svg" alt="">
			</div>
			<input id="menu-toggle" type="checkbox" />
			<label class='menu-button-container' for="menu-toggle">
			<div class='menu-button'></div>
		  </label>
			<section class="menu shortcuts">
				<main class="shortcuts-item center shortcuts-animation" style="color: black;">About me</main>
				<main class="shortcuts-item center shortcuts-animation" style="color: black;">My skills</main>
				<main class="shortcuts-item center shortcuts-animation" style="color: black;">Portfolio</main>
				<main class="hello-box" style="background-color: black; height: 35vh;">
					<div class="center" style="display: flex; align-items: center; justify-content: space-between;">
						<h1>Say Hi!</h1>
						<h2><a href="mailto:me@maximilian-stark.dev"></a>me@maximilian-stark.dev</h2>
					</div>
					<div>
						<a href="http://"><img src="../../assets/github.svg" alt=""></a>
						<a href="http://"><img src="../../assets/mail.svg" alt=""></a>
						<a href="http://"><img src="../../assets/link.svg" alt=""></a>
					</div>
				</main>
			</section>
		  </section>
	</main>
</header>
