<header>
	<main>
		<section class="top-nav">
			<div>
				<img src="../../assets/logo.svg" alt="">
			</div>
			<input id="menu-toggle" type="checkbox" [(ngModel)]="isChecked" (change)="onCheckboxChange()">
			<label class='menu-button-container' for="menu-toggle" id="label">
				<div class='menu-button'></div>
		  	</label>
		  	<section class="menu shortcuts" id="header-sec">
				<div>
					<main class="shortcuts-item center" style="color: black;"><span class="draw about" (click)="onCheckboxChange(); scrollToAboutMe('app-about-me');">About me</span></main>
					<main class="shortcuts-item center" style="color: black;"><span class="draw skills" (click)="onCheckboxChange(); scrollToAboutMe('app-my-skills');">My skills</span></main>
					<main class="shortcuts-item center" style="color: black;"><span class="draw portfolio" (click)="onCheckboxChange(); scrollToAboutMe('app-project-list');">Portfolio</span></main>
				</div>
				<main class="shortcuts-item hello-box">
					<div class="Divleft">
						<h3>Say Hi!</h3>
						<a href="mailto:me@maximilian-stark.dev">me&#64;maximilian-stark.dev</a>
					</div>
					<app-socialicons class="Divright"></app-socialicons>
				</main>
			</section>
		</section>
	</main>
</header>
