.footer-sec {            
    @media (max-width: 900px) {
        padding: 2.25rem;
    }
    padding: 6.25rem;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
    background-color: black;
    display: flex;
    justify-content: space-between;

    div {
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        img {
            @media (max-width: 900px) {
                order: 2;
                width: fit-content;
			}
        }

        p {
            order: 3;
            color: var(--cream, #FFFCF3);
            font-family: Poppins;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }

        app-socialicons {
            order: 1;
            @media (min-width: 900px) {
				display: none;
			}
        }

        app-legaltextanibnt {
            order: 4;
            @media (min-width: 900px) {
				display: none;
			}
        }
    }

    section {
        width: 30%;
        app-socialicons {
            @media (max-width: 900px) {
				display: none;
			}
        }

        app-legaltextanibnt {
            @media (max-width: 900px) {
				display: none;
			}
        }
    }
}