<section class="" [class.left]="projectId % 2 !== 0" [class.right]="projectId % 2 === 0" [id]="projectId" (mouseenter)="hoverin(projectId)" (mouseleave)="hoverout(projectId)">
	<main>
		<h2>{{ projectId }}/05</h2>
		<a [href]="project.Link" target="_blank" rel="noopener noreferrer">
			<div>
				<img src="assets/project-list/{{ project.img }}">
				<div>
					<img src="assets/my-skills/cyrcle-arrow-removebg-preview.png">
				</div>
			</div>
		</a>
		<div style="overflow-x: hidden;">
			<span>
				<h3>{{ project.title }}</h3>
				<h4>{{ project.techstack }}</h4>
				<p>{{ project.tldr }}</p>
				<div type="button">
					<a [href]="project.gitHubLink">{{ project.bntname }}</a>
				</div>
			</span>
		</div>
		<h1>{{ projectId }}/05</h1>
	</main>
</section>