.right {
	main {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 15rem;

		a {
			div {
				position: relative;
			img {
					display: flex;
					width: 36.46vw;
					height: 25vw;
					padding: 10px 0px;
					align-items: flex-start;
					gap: 10px;
					flex-shrink: 0;
					border: 0px solid #000;
					transition: grayscale 0.5s ease;
				}
				.imgrayscale {
					filter:grayscale(100%);
					transition:.5s ease-in-out;
				}:hover {
					filter: grayscale(0%);
				}
	
				div {
					position: absolute;
					top: 2vw;
					left: -2vw;
					width: 100%;
					height: 95%;
					border: 5px solid transparent;
	
					img {
						width: 12%;
						height: 12%;
						scale: 1.8;
						position: absolute;
						top: 42%;
						left: -2.3vw;
						transition: transform 1s;
					}

					.lol {
						transform: rotate(-0.38turn);
					}
				}
			}
		}

		span {

			padding-right: 10rem;

			h1 {
				color: #000;
				text-align: left;
				font-variant-numeric: lining-nums proportional-nums;
				font-family: Syne;
				font-size: 2.6vw;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
			}

			h3 {
				color: var(--black, #000);
				font-family: Syne;
				font-size: 2.4vw;
				font-style: normal;
				font-weight: 800;
				line-height: 100%; /* 45px */
			}
	
			h4 {
				color: var(--style-2-style-2-blue-blue, #5988FF);
				font-family: Overpass;
				font-size: 1.2vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
	
			p {
				color: var(--black, #000);
				font-family: Overpass;
				font-size: 0.8vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 19.2px */
			}
		}

		div {
			a {
				display: flex;
				padding: 1.5rem 3rem;
				max-width: 30%;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border: 4px solid var(--Black, #000);
				box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
				color: var(--Black, #000);
				font-family: Overpass;
				font-size: 23px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
		}
	}
}

.right-hover {
	main {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 15rem;

		a {
			div {
				position: relative;
			img {
					display: flex;
					width: 36.46vw;
					height: 25vw;
					padding: 10px 0px;
					align-items: flex-start;
					gap: 10px;
					flex-shrink: 0;
					border: 0px solid #000;
					transition: grayscale 0.5s ease;
				}
				.imgrayscale {
					filter:grayscale(100%);
					transition:.5s ease-in-out;
				}:hover {
					filter: grayscale(0%);
				}
	
				div {
					position: absolute;
					top: 2vw;
					left: -2vw;
					width: 100%;
					height: 95%;
					border: 5px solid transparent;
	
					img {
						width: 12%;
						height: 12%;
						scale: 1.8;
						position: absolute;
						top: 42%;
						left: -2.3vw;
						transition: transform 1s;
					}

					.lol {
						transform: rotate(-0.38turn);
					}
				}
			}
		}

		span {

			padding-right: 10rem;

			h1 {
				color: #000;
				text-align: left;
				font-variant-numeric: lining-nums proportional-nums;
				font-family: Syne;
				font-size: 2.6vw;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
			}

			h3 {
				color: var(--black, #000);
				font-family: Syne;
				font-size: 2.4vw;
				font-style: normal;
				font-weight: 800;
				line-height: 100%; /* 45px */
			}
	
			h4 {
				color: var(--style-2-style-2-blue-blue, #5988FF);
				font-family: Overpass;
				font-size: 1.2vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
	
			p {
				color: var(--black, #000);
				font-family: Overpass;
				font-size: 0.8vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 19.2px */
			}
		}

		div {
			a {
				display: flex;
				padding: 1.5rem 3rem;
				max-width: 30%;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border: 4px solid var(--Black, #000);
				box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
				color: var(--Black, #000);
				font-family: Overpass;
				font-size: 23px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
		}
	}
}

.left {
	main {
		display: flex;
		flex-direction: row;
		margin-bottom: 10rem;

		a {
			div {
				position: relative;
				img {
					filter: grayscale(100%);
					display: flex;
					width: 36.46vw;
					height: 25vw;
					padding: 10px 0px;
					align-items: flex-start;
					gap: 10px;
					flex-shrink: 0;
					border: 0px solid #000;
				}
	
				div {
					position: absolute;
					top: 2vw;
					left: 2vw;
					width: 100%;
					height: 95%;
					border: 5px solid transparent;
	
					img {
						width: 12%;
						height: 12%;
						scale: 1.8;
						position: absolute;
						top: 42%;
						right: -2.3vw;
					}
				}
			}
		}

		span {

			padding-left: 15rem;

			h1 {
				color: #000;
				text-align: right;
				font-variant-numeric: lining-nums proportional-nums;
				font-family: Syne;
				font-size: 2.6vw;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
			}

			h3 {
				color: var(--black, #000);
				font-family: Syne;
				font-size: 2.4vw;
				font-style: normal;
				font-weight: 800;
				line-height: 100%; /* 45px */
			}
	
			h4 {
				color: var(--style-2-style-2-blue-blue, #5988FF);
				font-family: Overpass;
				font-size: 1.2vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
	
			p {
				color: var(--black, #000);
				font-family: Overpass;
				font-size: 0.8vw;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 19.2px */
			}
		}

		div {
			a {
				display: flex;
				padding: 1.5rem 3rem;
				max-width: 30%;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border: 4px solid var(--Black, #000);
				box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
				color: var(--Black, #000);
				font-family: Overpass;
				font-size: 23px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
			}
		}
	}
}

.fade-in-out {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	transition: grayscale(0%) ease-in-out;
	border: 5px solid #000 !important;


}
  
.fade-in-out.fade-out {
	opacity: 0;
	display: none;
}