body {
	margin-top: 16rem;
}

.one {
	h1 {
		color: #000;
		text-align: center;
		font-family: Syne;
		font-size: 10vw;
		font-style: normal;
		font-weight: 800;
		line-height: 100%; /* 128px */
		letter-spacing: -3.2px;
		margin: 0;
	}

	p {
		color: var(--style-2-style-2-blue-blue, #5988FF);
		text-align: end;
		font-family: Overpass;
		font-size: 5vw;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 48px */
		letter-spacing: -1.2px;
		padding-left: 1vw;
	}
	
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5vh;
	}
	
	hr {
		border-top: 4px solid black;
		width: 30vw;
		margin: 0;
		padding: 0;
	}
}
$base: 0.6rem;

.idiot {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 92vw;

	span {
		color: var(--black, #000);
		font-family: Overpass;
		font-size: 23px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%; /* 23px */
		letter-spacing: -0.575px;
		transform: rotate(-90deg);
		margin: 0;
	}

	h2 {
		display: flex;
		color: var(--black, #000);
		font-family: Overpass;
		font-size: 23px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%; /* 23px */
		letter-spacing: -0.575px;
		padding-top: 300px;
		transform: rotate(0deg);
	}


.arrow-down {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	opacity: 0;
	animation: move-arrow 3s ease-out infinite;
}
.arrow-down::after,
.arrow-down::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	bottom: 4px;
}
.arrow-down::after {
	width: 40px;
	height: 40px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(-45deg);
	left: 3px;
}
.arrow-down::before {
	width: 2px;
	height: 8vh;
	left: 22px;
	background: currentColor;
}

@keyframes move-arrow {
		10% {
			opacity: 0;
		}
		20%{
			opacity: 1;
		}
		25% {
			opacity: 1;
		}
		50% {
			opacity: 1;
			transform: translateY($base * 10);
		}

		100% {
			opacity: 0;
			transform: translateY($base * 30);
		}
	}
}











