body {
	margin-top: 16rem;
	display: flex;
	align-items: center;
	flex-direction: column;

	button {
		display: inline-flex;
		width: 70%;
		padding: 20px 40px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		background: transparent;
		transition: .2s ease-in-out 0s;

		@media (min-width: 900px) {
			display: none;
		}
		
		a {
			color: var(--black, #000);
			font-family: Overpass;
			font-size: 23px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 27.6px */
		}
	}
}

.one {
	h1 {
		color: #000;
		text-align: center;
		font-family: Syne;
		font-size: 10vw;
		font-style: normal;
		font-weight: 800;
		line-height: 100%; /* 128px */
		letter-spacing: -3.2px;
		margin: 0;
	}

	p {
		color: var(--style-2-style-2-blue-blue, #5988FF);
		text-align: end;
		font-family: Overpass;
		font-size: 5vw;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 48px */
		letter-spacing: -1.2px;
		padding-left: 1vw;
	}
	
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 5vh;
	}
	
	hr {
		border-top: 4px solid black;
		width: 30vw;
		margin: 0;
		padding: 0;
	}
}

.idiot {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	width: 92vw;

	position: relative;
	border: 0px solid red;
	height: 400px;
	min-width: 30px;

	span {
		color: var(--black, #000);
		font-family: Overpass;
		font-size: 23px;
		font-style: normal;
		font-weight: 300;
		letter-spacing: -0.575px;
		margin: 0;
		text-align: center;
		overflow: hidden;
		height: 30px;
		line-height: 100%; /* 23px */
		width: 400px;
		position: absolute;
		bottom: -32px;
		transform: rotate(-90deg);
		transform-origin: top left;
	}

	h2 {
		display: flex;
		color: var(--black, #000);
		font-family: Overpass;
		font-size: 23px;
		font-style: normal;
		font-weight: 300;
		line-height: 100%; /* 23px */
		letter-spacing: -0.575px;
		transform: rotate(0deg);
	}

	.ihatecsscalsses {
		position: absolute;
		right: 0px;
		height: 100%;

		div {
			margin-top: 30%;
			height: 70%;
		}
	}
}

.arrow-down {
	box-sizing: border-box;
	position: relative;
	display: block;
	transform: scale(var(--ggs,1));
	width: 22px;
	height: 22px;
	margin-left: 4px;
	animation: move-arrow 1.25s ease-in-out infinite;
}
.arrow-down::after,
.arrow-down::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	bottom: 4px;
}
.arrow-down::after {
	width: 40px;
	height: 40px;
	border-bottom: 4px solid;
	border-left: 4px solid;
	transform: rotate(-45deg);
	left: 3px;
}
.arrow-down::before {
	width: 4px;
	height: 8vh;
	@media (max-width: 900px) {
		height: 16vh;
	}
	left: 22px;
	background: currentColor;
}
$base: 1%;

@media (min-width: 900px) {
	@keyframes move-arrow {
		0% {
			transform: translateY($base * -150);
		}

		100% {
			transform: translateY($base * 150);
		}
	}
}

@media (max-width: 900px) {
	@keyframes move-arrow {
		0% {
			transform: translateY($base * -150);
		}
	
		100% {
			transform: translateY($base * 150);
		}
	}
}