<body>
	<section class="one" title="Itself">
		<h1>Frontend <br> Developer</h1>
		<div><hr> <p> Maximilian Stark </p> </div>
	</section>
	<button id="app-about-me-bnt" (mousedown)="changeBntColor(true)" (mouseup)="changeBntColor(false); scrollToContact()" [ngStyle]="{ 'background-color': bgColor }" type="button"><a [ngStyle]="{ 'color': textColor }">Send a message</a></button>
	<section style="display: flex; justify-content: center;">

			<div class="idiot">
				<span> me&#64;maximilian-stark.dev </span>
				<div class="ihatecsscalsses">
					<div style="overflow: hidden;"><div class="arrow-down"></div></div>
					<h2>Scroll <br>Down</h2>
				</div>
			</div>

	</section>
</body>