.buffer {
	display: flex;
	justify-content: flex-start;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
	display: block;
	width: 10rem;
	height: 10rem;
	border-top: 0.4rem solid #000;
	border-left: 0.4rem solid #000;

	@media (max-width: 900px) {
		width: 5rem;
		height: 5rem;
	}
}

.arrow-right,
.long-arrow-right {
	transform: rotate(180deg) translate(15px, 4px);
}
	
.arrow-left,
.long-arrow-left {
	transform: rotate(180deg) translate(15px, 4px);
}

.long-arrow-right::after,
.long-arrow-left::after {
	content: "";
	display: block;
	width: 0.4rem;
	height: 0rem;
	background-color: black;
	transform: rotate(-45deg) translate(7.9375rem, 3rem);
	left: 0;
	top: 0;
}

.show {
	width: 100px;
	animation: slide5 0.3s ease-in-out infinite ;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	width: 375px;

	@media (min-width: 900px) {
		@keyframes slide5 {
			0% {
				transform: translate(20vw, 0vw);
			}
	
			100% {
				transform: translate(36vw, 10vw);
			}
		}
	}
	
	@media (max-width: 900px) {
		@keyframes slide5 {
			0% {
				transform: translate(0vw, -5vw);
			}
	
			100% {
				transform: translate(27vw, 20vw);
			}
		}
	}

	.long-arrow-right::after,
	.long-arrow-left::after {
		content: "";
		display: block;
		width: 0.4rem;
		height: 0rem;
		background-color: black;
		transform: rotate(-45deg) translate(7.9375rem, 3rem);
		left: 0;
		top: 0;

		animation: slide3 0.3s ease-in-out infinite ;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@media (min-width: 900px) {
			@keyframes slide3 {
				0% {
					transform: rotate(-45deg) translate(8.07, 3rem);
					height: 23rem;
					opacity: 1;
				}
			  
				50% {
					transform: rotate(-45deg) translate(10.5rem, 4.5rem);
					height: 30rem;
					opacity: 0.3;
				}
		
				100% {
					transform: rotate(-45deg) translate(8.07rem, 3rem);
					height: 23rem;
					opacity: 1;
				}
			}
		}
		
		@media (max-width: 900px) {
			@keyframes slide3 {
				0% {
					transform: rotate(-45deg) translate(4.1rem, 1.5rem);
					height: 12rem;
					opacity: 1;
				}
			  
				50% {
					transform: rotate(-45deg) translate(6.9rem, 3rem);
					height: 20rem;
					opacity: 0.3;
				}
		
				100% {
					transform: rotate(-45deg) translate(4.12rem, 1.5rem);
					height: 12rem;
					opacity: 1;
				}
			}
		}

		/**	500ms animation	
		animation: slide1 500ms ease-in-out infinite ;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	
		@keyframes slide1 {
			0% {
				transform: rotate(-45deg) translate(7.9375rem, 3rem);
				height: 23rem;
			}
		  
			50% {
				transform: rotate(-45deg) translate(9.5rem, 4rem);
				height: 27rem;
			}
	
			100% {
				transform: rotate(-45deg) translate(7.9375rem, 3rem);
				height: 23rem;
			}
		}**/
	}
}