.buffer {
	display: flex;
	justify-content: flex-end;
}

.specialkid {
	
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left {
	display: block;
	width: 10rem;
	height: 10rem;
	border-top: 0.4rem solid #000;
	border-left: 0.4rem solid #000;
	
	@media (max-width: 900px) {
		width: 5rem;
		height: 5rem;
	}
}

.arrow-right,
.long-arrow-right {
	transform: rotate(180deg) translate(15px, 4px);
}
	
.arrow-left,
.long-arrow-left {
	transform: rotate(270deg) translate(15px, 4px);
}

.long-arrow-right::after,
.long-arrow-left::after {
	content: "";
	display: block;
	width: 0.4rem;
	height: 0rem;
	background-color: black;
	transform: rotate(-45deg) translate(7.9375rem, 3rem);
	left: 0;
	top: 0;
	opacity: 1;
}

.show {
	animation: slide2 0.3s ease-in-out infinite ;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	@keyframes slide2 {
		0% {
			transform: translate(-30vw, 10vw);
		}

		100% {
			transform: translate(-36vw, 15vw);
		}
	}

	@media (min-width: 900px) {
		@keyframes slide2 {
			0% {
				transform: translate(0, 0);
			}
		  
			50% {
				transform: translate(-160px, 160px);
			}
	
			100% {
				transform: translate(-160px, 160px);
			}
		}
	}
	
	@media (max-width: 900px) {
		@keyframes slide2 {
			0% {
				transform: translate(0, 0);
			}
		  
			50% {
				transform: translate(-120px, 120px);
			}
	
			100% {
				transform: translate(-120px, 120px);
			}
		}
	}

	.long-arrow-right::after,
	.long-arrow-left::after {
		content: "";
		display: block;
		width: 0.4rem;
		height: 0rem;
		background-color: black;
		transform: rotate(-45deg) translate(7.9375rem, 3rem);
		left: 0;
		top: 0;

		animation: slide1 0.45s ease-in-out infinite ;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@media (min-width: 900px) {
			@keyframes slide1 {
				0% {
					transform: rotate(-45deg) translate(7.9375rem, 3rem);
					height: 23rem;
					opacity: 1;
				}
			  
				50% {
					transform: rotate(-45deg) translate(12.2rem, 4.5rem);
					height: 35rem;
					opacity: 0.3;
				}
		
				100% {
					transform: rotate(-45deg) translate(7.9375rem, 3rem);
					height: 23rem;
					opacity: 1;
				}
			}
		}
		
		@media (max-width: 900px) {
			@keyframes slide1 {
				0% {
					transform: rotate(-45deg) translate(4.1rem, 1.5rem);
					height: 12rem;
				}
			  
				50% {
					transform: rotate(-45deg) translate(6.9rem, 3rem);
					height: 20rem;
				}
		
				100% {
					transform: rotate(-45deg) translate(4.1rem, 1.5rem);
					height: 12rem;
				}
			}
		}
	}
}