<div class="arrow-space" (mouseover)="arrowAnimation=true">
	<div class="arrow-left " [class.arrow-animation]="arrowAnimation">
	</div>
</div>

<div id="say-hi" class="headline">
	<h2>Say Hi!</h2>
</div>

<div class="contact-field" id='contact-field'>
	<p>Want to discuss a new project?</p>
	<span class="second-headline">Say hello! let's discuss your ideas and make it happen</span>

	<form (ngSubmit)="onSubmit();myForm.resetForm()" class="contact-form" #myForm="ngForm">
		<div class="input-name">
			<span *ngIf="nameInput.dirty && nameInput.value" class="name-input-headline">Your name</span>
			<img *ngIf="!nameInput.valid  && (nameInput.dirty || nameInput.touched)" src="assets/layout/fail.svg"
				class="name-validation-img">
			<img *ngIf="nameInput.valid  && (nameInput.dirty || nameInput.touched)" src="assets/layout/sucess.svg"
				class="name-validation-img">
			<input [class.input-border]="nameInput.value" pattern="([a-zA-ZäöüÄÖÜß]+\s?)+" name="name" type="text"
				title="Please do not enter numbers or special characters." minlength="1" maxlength="16"
				placeholder="Your name" [(ngModel)]="name" #nameInput="ngModel" required>
			<span class="validation-warn" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">Your name
				is
				required</span>
			<span class="validation-warn"
				*ngIf="nameInput.errors?.['special'] && (nameInput.dirty || nameInput.touched)">Just Letters allowed
				here..</span>
		</div>

		<div>
			<span *ngIf="emailInput.dirty && emailInput.value" class="input-headline">Your email</span>
			<img *ngIf="!emailInput.valid  && (emailInput.dirty || emailInput.touched)" src="assets/layout/fail.svg"
				class="validation-img">
			<img *ngIf="emailInput.valid  && (emailInput.dirty || emailInput.touched)" src="assets/layout/sucess.svg"
				class="validation-img">
			<input [class.input-border]="emailInput.value" placeholder="Your email" type="email"
				title="Please enter a valid email address."
				pattern="(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|\u0022(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*\u0022)@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
				name="email" [(ngModel)]="email" #emailInput="ngModel" required>
			<span class="validation-warn" *ngIf="emailInput.errors?.['required'] && emailInput.touched ">Your email is
				required</span>
			<span class="validation-warn" *ngIf="emailInput.errors?.['pattern']">Please
				enter a
				Valid email adress</span>
		</div>

		<div id="textarea-container">
			<span *ngIf="messageInput.dirty && messageInput.value" class="input-headline">Your message</span>
			<img *ngIf="!messageInput.valid && messageInput.touched" src="assets/layout/fail.svg"
				class="validation-img">
			<img *ngIf="messageInput.valid  && (messageInput.dirty || messageInput.touched)"
				src="assets/layout/sucess.svg" class="validation-img">
			<textarea [class.input-border]="messageInput.value" placeholder="Your message" id="messageInput" type="text"
				minlength="1" maxlength="116" title="Please enter your concerns." name="message" [(ngModel)]="message"
				#messageInput="ngModel" required></textarea>
			<span class="validation-warn" *ngIf="!messageInput.valid &&  messageInput.touched">Your
				message is empty</span>
		</div>

		<div id="button-container">
			<button type="submit" [disabled]="!myForm.form.valid || sendingMessage || successfullySubmitted"
				class="button-black" #sendButton>
				<span *ngIf="!sendingMessage&&!successfullySubmitted">Send message</span>
				<span *ngIf="sendingMessage">Sending message...</span>
				<span *ngIf="successfullySubmitted">Message Successfully Submitted!</span>
			</button>
		</div>
	</form>

	<a href="#above-fold" class="scroll-up-arrow">
		<img src="assets/layout/scroll-up-arrow.svg">
	</a>
</div>