<section class="contact-sec">

		<h1 class="h1consec32">Say hi!</h1>
		<h2>Want to discuss a new project?</h2>
		<h3>Say hello! let's discuss your ideas and make it happen</h3>


	<form class="contact-form" (submit)="sendMail()" ngNativeValidate #AFrom id="myForm" style="position: relative;">
		
		<div (click)="inputFieldClickHandler($event)">
			<h1 for="name" class="none">Your Name</h1>
			<input required [type]="name" #name placeholder="Your Name" name="name" onvalid class="inName" id="10">
		</div>

		<div (click)="inputFieldClickHandler($event)">
			<h1 for="email" class="none">Your email</h1>
			<input required [type]="email" #email placeholder="Your Email" name="email" class="" id="20">
		</div>

		<div (click)="inputFieldClickHandler($event)">
			<h1 for="email" class="none">Your Message</h1>
			<textarea required type="text" #msg placeholder="Your Massege" name="email" id="30"></textarea>
		</div>

		<div class="pr-policy-mailsend-div" id="id-pr-policy-mailsend-div">
			<input type="checkbox" id="app-contact-email-input" [(ngModel)]="isChecked" (change)="checkboxChanged();" (mousedown)="changeTextColor()"[ngStyle]="{ 'margin-right': addMargin }" name="contact-email-bnt">
			<span>I've read the <p class="pr-policy-mailsend-div-span-p">privacy policy</p>and agree to the processing of my data as outlined.</span>
			<label for="app-contact-email-input" [ngStyle]="{ 'opacity': displaySwitch }">Please accept the privacy policy.</label>
		</div>
		
		<div class="email-div-bnt">
			<button id="app-contact-email-bnt" (mousedown)="changeBntColor(true)" (mouseup)="changeBntColor(false);" [ngStyle]="{ 'background-color': bgColor, 'margin-top': ErrorMargin }" type="button" [disabled]="!isChecked">
				<a [ngStyle]="{ 'color': textColor }">Let’s talk</a>
			</button>
			<div (click)="handleDisabledBnt()" [ngStyle]="{ 'display': divnone }"></div>
		</div>
		<div class="contact-scroll-up"></div>
	</form>
</section>

















<!--
		<form (submit)="sendMail()" ngNativeValidate #AFrom id="myForm">
		<input required type="text" #name>
		<input required type="email" #email>
		<textarea required type="text" #msg></textarea>
		<button #submitbnt>lol</button>
		</form>
-->