<section class="contact-sec">
    <h1>Say hi!</h1>
    <h2>Want to discuss a new project?</h2>
    <h3>Say hello! let's discuss your ideas and make it happen</h3>

    <form class="contact-form" (submit)="sendMail()" ngNativeValidate #AFrom id="myForm">
        <input required type="text" #name>
        <input required type="email" #email>
        <textarea required type="text" #msg></textarea>
        <button #submitbnt>lol</button>
    </form>

</section>

















<!--
        <form (submit)="sendMail()" ngNativeValidate #AFrom id="myForm">
        <input required type="text" #name>
        <input required type="email" #email>
        <textarea required type="text" #msg></textarea>
        <button #submitbnt>lol</button>
        </form>
-->