.none {
	border: none !important;
	padding: 0 !important;
	color: white !important;
	margin: 0;
	outline: none;
}

.contact-sec {
	margin-top: 20vh;
	clip-path: polygon(0% 0%, 100% 40%, 100% 100%, 0% 100%);
	@media (max-width: 900px) {
		clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
	}
	background-color: #000000;

	h2 {
		color: var(--style-2-style-2-blue-blue, #5988FF);
		text-align: center;
		font-family: Overpass;
		font-size: 2.96vw;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 38.4px */
		margin: 0;
		padding-left: 1.5625rem;
		padding-right: 1.5625rem;
		padding-bottom: 1.1875rem;
		
		@media (max-width: 900px) {
			font-size: 7vw;
		}
	}

	h3 {
		color: var(--cream, #FFFCF3);
		text-align: center;
		font-family: Overpass;
		font-size: 2.12vw;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 27.6px */
		margin: 0;
		padding-left: 1.5625rem;
		padding-right: 1.5625rem;

		@media (max-width: 900px) {
			font-size: 6vw;
		}
	}
}

.contact-form {
	display: flex;
	align-items: center;
	flex-direction: column;

	div {
		position: relative;
		border: none;
		padding: 0;
		color: white;
		margin: 0;
		outline: none;


		h1 {
			color: white;
			background-color: #000000;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 17.800px;
			opacity: 0;
			transition: all 0.3s ease-in-out;

			font-family: Overpass;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0em;
			text-align: left;

			padding-left: 3px !important;
    		padding-right: 3px !important;
		}

		input, textarea {
			width: 60vw;
			padding: 1.50rem;
			border: none;
			border-bottom: 2px solid white;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
			background-color: #000000;
			color: white;
			font-family: Overpass;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			letter-spacing: 0em;
			text-align: left;
		}:hover {
			border: 4px solid white;
			padding: 1.30rem;
		}::placeholder {
			color: var(--cream, #FFFCF3);
			font-family: Overpass;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 19.2px */
			transition: all 0.3s ease-in-out;

		}:focus {
			border: 2.5px solid white;
			padding: 1.4rem ;
			outline: none;
		}

	}

	.pr-policy-mailsend-div {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 1.5rem;
		input {
			width: 1.5rem;
			height: 1.5rem;
			margin: 0;
			
			position: relative;

			background-color: black;
			cursor: default;
			appearance: none;
			box-sizing: border-box;
			margin: 3px 3px 3px 4px;
			padding: initial;
			border: 3px solid #FFFCF3;
			border-radius: 5px;
		}

		span {
			font-family: Overpass;
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 17px;
			letter-spacing: 0em;

			width: 90%;

			display: flex;
			border: none;
			padding: 0;

			&:hover {
				color: #FFFCF3;
			}

			p {
				border: none;
				margin: 0;
				padding-left: 7px;
				padding-right: 7px;
				color: #5988FF;
			}
		}

		label {
			margin-top: 1.5rem;
			font-family: Overpass;
			font-size: 1rem;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0em;
			text-align: left;
			color: #E61C40;

			&:hover {
				border: none;
				padding: 0;
				color: #E61C40;
			}
		}

		&:hover {
			input {
				width: 24px;
				height: 24px;
				border-radius: 5px;
				position: relative;
				background-color: #797EF3;
				&::before {
					content: '';
					left: -33%;
					top: -33%;
					position: absolute;
					z-index: -100;
					background-color: #797EF3;
					width: 30px;
					height: 30px;
					border-radius: 15px;
				}

			}

			span {
				p {
					font-weight: 700;
					padding: 0;
					padding-left: 3.5px;
					padding-right: 3.5px;
				}
			}
		}
	}

	#app-contact-email-input::after {
		content: "";
		position: absolute;
		display: none;
	}

	#app-contact-email-input:checked::after {
		display: block;
		left: -1px;
		top: -1px;
		width: 1.125rem;
		height: 1.125rem;

		background-image: url("../../assets/check_box.svg");
		background-repeat: no-repeat;
	}
	  

	.email-div-bnt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;



		button {

			width: 30%;
			padding: 20px 60px;

			gap: 10px;
			background: black;
			transition: 10ms ease-in-out 0s;
			border: 4px solid #807f7f;

			@media (max-width: 900px) {
				display: none;
			}
		
			a {
				color: #ffffff;
				font-family: Overpass;
				font-size: 23px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 27.6px */
				transition: 100ms ease-in-out 0s;
			}

			&:hover {
				a {
					border: none;
				}
				border: 4px solid #807f7f;
				padding: 20px 60px;
				transition: all 0.3s;
			}

			&:not(:disabled):hover {
				a {
					font-weight: 700;
					border: none;
				}
		
				cursor: pointer;
				transform: scale(1.25, 1);
			}

			&:not(:disabled) {
				transition: all 0.3s;
				border: 4px solid #FFFCF3;
				margin-top: 5px !important;

				a {
					color: #FFFCF3;
				}
				&:active {
					transform: scale(1.2, 1);
				}
			}
		}

		div {
			position: absolute;
			width: 30%;
			height: 100%;
			padding: 0;
			cursor: pointer;
			&:hover {
				border: none;
			}
		}
	}
}



.h1consec32 {
	color: var(--cream, #FFFCF3);
	text-align: left;
	font-family: Syne;
	font-size: 7.22vw;
	font-style: normal;
	font-weight: 800;
	line-height: 100%; /* 45px */
	inline-size: fit-content;
	letter-spacing: 0.45px;
	padding-left: 6.5rem;
	padding-bottom: 2.125rem;
	padding-top: 15rem;
	transition: color 125ms ease-in-out;
	
	@media (max-width: 900px) {
		padding-left: 1.5625rem;

	}

	@media (max-width: 900px) {
		font-size: 10vw;
		padding-left: 3rem;
		animation-name: color-blink-wite;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		padding-top: 5rem;

		@keyframes color-blink-wite {
			0% {
				color: #5988FF;
			}
			50% {
				color: #6993ff;
			}
			100% {
				color: #FFFCF3;
			}
		}
	}
	margin: 0;
}:hover {
	color: #5988FF;
}

.active {
	h1 {
		opacity: 1 !important;
	}

	input::placeholder {
		opacity: 0 !important;
	}

	textarea::placeholder {
		opacity: 0 !important;
	}
}

.contact-scroll-up {
	transition: all 0.3s;
	position: absolute !important;
	bottom: -3.5rem;
	right: 5vw;

	a {
		position: absolute;
		width: 100px;
		top: 0px;
		height: 100px;
	}

	div {
		width: 3rem;
		height: 3rem;
		transform: rotate(45deg);
		border-top: 0.25rem solid #FFFCF3 !important;
		border-left: 0.25rem solid #FFFCF3 !important;
		color: #6993ff;
	}

	section {
		transition: all 310ms;
		content: "";
		display: block;
		width: 0.3rem;
		height: 6rem;
		background-color: #FFFCF3;
		transform: translate(1.48rem, -3.7rem);
		left: 0;
		top: 0;
	}

	&:hover {
		section {
			height: 9rem;
			transform: translate(1.48rem, -3.7rem);
		}
	}
}