<app-header style="position: relative; z-index: 100;"></app-header>
<app-hero></app-hero>
<app-about-me id="app-about-me"></app-about-me>
<div style="height: fit-content; width: 100vw; aspect-ratio: 16 / 3;">
    <app-on-scroll-arrow style="transform: rotate(45deg);"></app-on-scroll-arrow>
</div>
<!--<app-arrow-scroll-left></app-arrow-scroll-left>-->
<app-my-skills style="display: flex; justify-content: center;"></app-my-skills>
<!--<app-app-arrow-scroll-right></app-app-arrow-scroll-right>-->
<app-project-list></app-project-list>
<!--<app-arrow-scroll-left></app-arrow-scroll-left>-->
<app-contact></app-contact>