<div class="my-skills">
	<h2>My skills</h2>
	<div class="skill-icons">

		<div>
			<img src="assets/my-skills/angular.svg" alt="Angular Icon">
			<span>Angular</span>
		</div>
		<div>
			<img src="assets/my-skills/typescript.svg" alt="Typescript Icon">
			<span>Typescript</span>
		</div>
		<div>
			<img src="assets/my-skills/javascript.svg" alt="Javascript Icon">
			<span>JavaScript</span>
		</div>
		<div>
			<img src="assets/my-skills/html.svg" alt="HTML Icon">
			<span>HTML</span>
		</div>
		<div>
			<img src="assets/my-skills/css.svg" alt="Css Icon">
			<span>Css</span>
		</div>
		<div>
			<img src="assets/my-skills/firebase.svg" alt="Firebase Icon">
			<span>Firebase</span>
		</div>
		<div>
			<img src="assets/my-skills/git.svg" alt="Git Icon">
			<span>Git</span>
		</div>
		<div>
			<img src="assets/my-skills/scrum.svg" alt="Scrum Icon">
			<span>Scrum</span>
		</div>
		<div>
			<img src="assets/my-skills/api.svg" alt="Rest Api Icon">
			<span>Rest-Api</span>
		</div>
		<div>
			<img src="assets/my-skills/material.svg" alt="Material Design Icon">
			<span>Material<br>design</span>
		</div>

	</div>
</div>