.soc-iconsDiv {
    display: flex;
    justify-content: space-between;
    margin: 42px;
    height: 30px;
    position: relative;

    img {
        transition: all 0.3s;
        bottom: 0;
        position: absolute;
    }

    img:hover {
        bottom: 50px;
    }
}
