/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	background: var(--cream, #FFFCF3);
}

.stop-scrolling {
	overflow: hidden;
}

.d-none {
	display: none;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}